.container {
    margin: auto;
    width: 40%;
    border: 3px solid rgb(58, 35, 157);
    background-color: rgb(131, 176, 224);
    border-radius: 8px;
    padding: 10px;
    /*padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;*/
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    width: 60%; /* Ange bredden till 100% av förälderelementet (containern) */
    height: 100px;
    resize: none;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between; 
}

.form-font {
    font-family: 'Times New Roman', Times, serif;
}